<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Configuración de la conexión JDBC -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/bdor_database</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"/>

        <!-- Dialecto SQL -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Mostrar SQL en la consola -->
        <property name="hibernate.show_sql">true</property>

        <!-- Actualizar el esquema de la base de datos -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Contexto de sesión -->
        <property name="hibernate.current_session_context_class">thread</property>

        <!-- Clases anotadas -->
        <mapping class="model.Llibre"/>
        <mapping class="model.Vehicle"/>
        <mapping class="model.Cotxe"/>
        <mapping class="model.Client"/>
        <mapping class="model.Persona"/>
        <mapping class="model.Professor"/>
        <mapping class="model.Dispositiu"/>
    </session-factory>
</hibernate-configuration>
